@page "/moisturizers/details"
@using Microsoft.EntityFrameworkCore
@using DataAccess
@inject IDbContextFactory<SengWeb.Data.SengWebContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>MOISTURIZER</h2>
    <hr />
    @if (moisturizer is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Texture</dt>
            <dd class="col-sm-10">@moisturizer.Texture</dd>
            <dt class="col-sm-2">IsNightCream</dt>
            <dd class="col-sm-10">@moisturizer.IsNightCream</dd>
        </dl>
        <div>
            <a href="@($"/moisturizers/edit?id={moisturizer.ID}")">Edit</a> |
            <a href="@($"/moisturizers")">Back to List</a>
        </div>
    }
</div>

@code {
    private MOISTURIZER? moisturizer;

    [SupplyParameterFromQuery]
    private int ID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        moisturizer = await context.MOISTURIZER.FirstOrDefaultAsync(m => m.ID == ID);

        if (moisturizer is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
