<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
<connectionStrings><add name="skincare_companionEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=localhost;initial catalog=&quot;skincare companion&quot;;integrated security=True;multipleactiveresultsets=True;encrypt=True;trustservercertificate=True;application name=EntityFramework'" providerName="System.Data.EntityClient" /></connectionStrings></configuration>