@page "/users"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DataAccess
@using SengWeb.Data
@implements IAsyncDisposable
@inject IDbContextFactory<SengWeb.Data.SengWebContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="users/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.User">
    <PropertyColumn Property="user => user.Email" />
    <PropertyColumn Property="user => user.PasswordHash" />
    <PropertyColumn Property="user => user.SkinType" />
    <PropertyColumn Property="user => user.SkinGoals" />
    <PropertyColumn Property="user => user.Age" />
    <PropertyColumn Property="user => user.Allergies" />
    <PropertyColumn Property="user => user.LastModified" />

    <TemplateColumn Context="user">
        <a href="@($"users/edit?userid={user.UserID}")">Edit</a> |
        <a href="@($"users/details?userid={user.UserID}")">Details</a> |
        <a href="@($"users/delete?userid={user.UserID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private SengWebContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
